$primary: #D7181C;

$secondary-300: #0c80b0;
$secondary: #1B1B1B;
$secondary-600: #014b69;

$white: #ffffff;
$gray-100: #EAEAEA;
$gray-200: #D4D4D4;
$gray-300: #AAAAAA;
$gray-400: #5F5F5F;
$gray-500: #f6f6f6;
$gray-600: #2D2D2D;
$gray-700: #E2E2E2;
$gray-800: #707070;
$black: #000000;
$menu-mobile: rgba(84, 84, 84, .9);
$menu-desktop: rgba(84, 84, 84, 1);

$green-300: #72d88b;
$green-400: #4fb368;
$green-500: #36c05b;
$green-600: #2E693E;
$green-700: #407a4f;
$green-800: #24462d;

$red-300: #ED2024;
$red-500: #e73939;
$red-600: #ff0000;

$danger: $red-500;
$success: $green-500;

$dark-section-background: #ECECEC;